# Answer1

In [2]:
import pandas as pd
data=[4, 8, 15, 16, 23,42]
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Answer2

In [7]:
l=[1,2,34,56,{"Sharique","JMI","ML"},("PW",45.67,"DS"),50,567.89,-12,78]
pd.Series(l)

0                      1
1                      2
2                     34
3                     56
4    {ML, Sharique, JMI}
5        (PW, 45.67, DS)
6                     50
7                 567.89
8                    -12
9                     78
dtype: object

# Answer3

In [9]:
data={'Name':['Alice','Age','Gender'],
      'Age':['25','30','27'],
      'Gender':['Female','Male','Female']
}
pd.DataFrame(data)

     Name Age  Gender
0   Alice  25  Female
1     Age  30    Male
2  Gender  27  Female

# Answer4

In [ ]:
 DataFrame and a Series are two fundamental data structures for working with tabular and labeled data. 

DataFrame:
A DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure in Pandas. It is similar to a spreadsheet or a SQL table, where data is organized in rows and columns.
Each column in a DataFrame can have a different data type (e.g., integer, float, string, datetime) and represents a variable or a feature.
DataFrames are ideal for handling structured data, such as CSV files or database tables, and are the primary data structure used for data analysis and manipulation in Pandas.
You can think of a DataFrame as a collection of Series objects, where each column is a Series with its own data type and index.

Series:
A Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of data from a DataFrame.
Unlike a DataFrame, a Series has a single data type for all its elements.
Series are often used to represent a single variable or feature, and they come with a label or index, which can be customized or automatically generated.

In [10]:


# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22]}
df = pd.DataFrame(data)

# 'df' is a DataFrame with two columns: 'Name' and 'Age'
print("DataFrame 'df':")
print(df)

# Accessing a single column from the DataFrame creates a Series
age_series = df['Age']

# 'age_series' is a Series representing the 'Age' column
print("\nSeries 'age_series':")
print(age_series)

DataFrame 'df':
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

Series 'age_series':
0    25
1    30
2    22
Name: Age, dtype: int64

# Answer5

In [12]:
df[column]
df[[column1, column2]]
df.loc[rows, columns]
df.iloc[rows, columns]
df.query('condition')
pd.concat([df1, df2], axis=0)
pd.concat([df1, df2], axis=1)
df.merge(other_df, on='key_column', how='inner')
df.drop(columns=['column1', 'column2'])
df.drop_duplicates()
df.fillna(value)

# Answer6

In [ ]:
Among the three data structures mentioned (Series, DataFrame, Panel), the DataFrame is mutable in nature. This means you can modify the contents of a DataFrame after it has been created. You can add or remove columns, update values, or perform various data manipulation operations on a DataFrame.

# Answer7

In [25]:
# Create multiple Series
s1 = pd.Series([1, 2, 3, 4], name='Column1')
s2 = pd.Series(['A', 'B', 'C', 'D'], name='Column2')
s3 = pd.Series([10.5, 20.2, 15.7, 8.9], name='Column3')

# Create a DataFrame using the Series
df = pd.DataFrame({'Column1': s1, 'Column2': s2, 'Column3': s3})

df

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.2
2        3       C     15.7
3        4       D      8.9